<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#18081c">
    <link rel="shortcut icon" type="image/png" sizes="225x225" href="./images/icons/img1-24.png" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <!-- FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Playfair+Display:700,700i,900,900i&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap"
      rel="stylesheet"
    />
    <title>Personal Portfolio</title>
  </head>
  <!-- <body id="scroll-container" class="scroll-container"> -->
  <body>
    <!-- LOADING STARTS-->
    <div class="wrapper">
        <div class="loader">
            <h2>
                <div>
                    <span>H</span>
                    <span>E</span>
                    <span>Y</span>
                    <span>N</span>
                    <span>I</span>
                    <span>N</span>
                    <span>J</span>
                    <span>A</span>
                    <span>S</span>
                </div>
            </h2>
        </div>
    </div>
<!-- LOADING ENDS-->

<!-- HEADER STARTS-->
    <header id="header">

      <div class="logo">
        <a href="#hero"><img src="../static/images/icons/img1-23.png" alt="logo"/></a>
      </div>
     <!-- NAVIGATION FOR BIG SCREENS -->
     <nav class="big-screen">
       <ul>
         <li><a href="#about">About Me</a></li>
         <li><a href="#works">Projects</a></li>
         <li><a href="#contact">Contact Me</a></li>
        </ul>
      </nav>
      <!-- NAVIGATION FOR SMALL SCREENS -->
        <div class="overlay">
        </div>
        <nav class="small-screen">
          <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#works">Projects</a></li>
            <li><a href="#contact">Contact Me</a></li>
          </ul>
        </nav>
        <div class="nav-button">
          <span class="nav-icon"></span>
        </div>
      <div class="mode-toggle-button">
        <img src="../static/images/icons/img1-01.png" alt="moon" />
      </div>
    </header>
    <!-- HEADER END-->

    <!-- MAIN STARTS-->
    <main>
      <!-- HERO SECTION STARTS-->
      <section id="hero">
        <div class="portfolio-icons">
          <a id="profile-link" href="https://www.linkedin.com/in/nishant-pandey-531211165" target="_blank">
            <img src="../static/images/icons/img1-03.png">
          </a>
          <a id="profile-link"href="https://github.com/mrpandey1" target="_blank">
            <img src="../static/images/icons/img1-04.png" alt="GitHub" />
          </a>
        </div>
        <div class="headings">
          <h1>
            I'm
            <div>NISHANT PANDEY</div>
          </h1>
          <p>FullStack Developer</p>
          <p>Android App Developer</p>
          <p>Data scientist</p>
        </div>
        <div class="email">
          <a href="mailto:pandeynishant525@gmail.com">
            <p>pandeynishant525@gmail.com</p>
          </a>
        </div>
        <div class="scroll-down-arrow">
          <img src="../static/images/icons/img1-07.png" alt="down arrow" />
        </div>
      </section>
<!-- HERO SECTION ENDS-->

<!-- ABOUT SECTION STARTS-->
      <section id="about">
          <h2>About Me</h2>
          <div class="parags">
            <p>I am always ready to learn new skills and technologies.As a full stack developer my skills focuses on front-end as well as back-end development. I have already made few web based projects present on my github.I currently have knowledge of developing web projects using MERN ie Mongodb,Express,React and Node with HTML5, CSS3/Sass, JavaScript, jQuery, Bootstrap.
            </p>
            <p>
              In my spare time , I like to contributing to various open source projects on github.
              I would love to work on Projects on React , Flutter and machine learning. 
            </p> 
          </div>
      </section>

<!-- ABOUT SECTION ENDS-->

<!-- WORKS SECTION STARTS-->
      <section id="works">
        <h2>Projects</h2>
            <div class="works-container">
              <a href="https://diabetes-detection.netlify.app/" target="_blank" class="proj-link">
                  <img src="https://res.cloudinary.com/grohealth/image/upload/f_auto,fl_lossy,q_auto/v1581692228/DCUK/Content/iStock-9217203841.jpg"
                       alt="artwork">
                  <div class="project-title">Diabetes Diagnosis</div>
              </a>
              <a href="https://github.com/mrpandey1/devChat" target="_blank" class="proj-link">
                  <img src="../static/images/artworks/devChat.png"
                       alt="artwork">
                  <div class="project-title">Dev Chat</div>
              </a>
              <a href="https://github.com/mrpandey1/dog-breed-nishant/tree/master/dog-breed/project%20using%20flutter" target="_blank" class="proj-link">
                  <img src="../static/images/icons/dog.jpg"
                       alt="artwork">
                  <div class="project-title">Dog breed classifier</div>
              </a>
              <a href="https://github.com/mrpandey1/photogram" target="_blank" class="proj-link">
                  <img src="../static/images/artworks/insta.jpg"
                       alt="artwork">
                  <div class="project-title">PhotoGram</div>
              </a>
              <a href="https://github.com/mrpandey1/php_projects/tree/master/slotify" target="_blank" class="proj-link">
                  <img src="../static/images/artworks/slotify.png"
                       alt="artwork">
                  <div class="project-title">Slotify</div>
              </a>
              <a href="https://github.com/mrpandey1/github_jobs" target="_blank" class="proj-link">
                  <img src="../static/images/artworks/github_jobs.jpg"
                       alt="artwork">
                  <div class="project-title">GitHub_Jobs</div>
              </a>
              <a href="https://github.com/mrpandey1/vit_app" target="_blank" class="proj-link">
                  <img src="../static/images/artworks/vit_app.jpg"
                       alt="artwork">
                  <div class="project-title">VIT_app</div>
              </a>
            
            </div>
            <a href="https://github.com/mrpandey1" class="all-projects" target="_blank">See all projects</a>
      </section>
<!-- WORKS SECTION ENDS-->

<!-- CONTACT SECTION STARTS-->
      <section id="contact">
        <h2>Contact Me</h2>
            <div class="contact-form">
                <form action="submit_form" method="post">
                    <div class="form-group">
                        <div>
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" required/>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" id="subject" required/>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea type="text" name="message" id="message" required></textarea>
                    </div>
                    <button type="submit">Send</button>
                </form>
            </div>
      </section>
<!-- CONTACT SECTION ENDS-->
    </main>
<!-- MAIN ENDS-->

<!-- FOOTER STARTS-->
<footer><p>Copyright 2020, Nishant Pandey</p></footer>
<!-- FOOTER ENDS-->

    <script src="../static/script.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
      integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="smoothscroll.js"></script> -->

      <!-- <script>
      let scroller = new SmoothScroll({
          target: document.querySelector("#scroll-container"), // element container to scroll
          scrollEase: 0.8,
        });

      </script> -->
  </body>
</html>
